<p class="answer-author">{{answer.answer_author}}</p>
<p class="rendered-answer-notes">
  {{answer.answer_text}}
</p>
<small class="small-answer-info">Written {{moment-format answer.timestamp}}</small>
<hr>
