<small class="small-question-info">Question asked by {{question.question_author}} &bull; {{moment-format question.timestamp}}</small><br>
<span class="rendered-question-text">{{question.question_text}}</span>
<p class="rendered-question-notes">
  {{question.notes}}
</p>
