<div class="rendered-question-full">
  <small class="small-question-info">Question asked by {{question.question_author}} &bull; {{moment-format question.timestamp}}</small><br>
  {{#link-to 'question' question.id}}<span class="rendered-question-text">{{question.question_text}}</span>{{/link-to}}
  <p class="rendered-question-notes">
    {{question.notes}}
  </p>
  <hr>
</div>
