<form class="navbar-form navbar-left">
  <div class="form-group">
    {{input value=question_author class="form-control" placeholder="Name"}}
    {{input value=question_text class="form-control" placeholder="Question"}}
  </div>
  <button class="btn btn-default" {{action "submitQuestion"}}>Ask Question</button>
</form>
