@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$lightgray: rgb(155, 155, 155);
$nearblack: rgb(51, 51, 51);
$red: #b92b27;

.navbar-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 2px solid $red;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200, 200 ,200, 0.2);

  .navbar-brand {
    color: $red;
    font-family: "Bree Serif", serif;
    font-weight: bold;
    margin-top: 5px;
  }

  td {
    padding: 5px;
  }
}

.small-question-info {
  color: $lightgray;
}

.rendered-question-basic, .rendered-question-full {
  .rendered-question-text {
    color: $nearblack;
    font-size: 20px;
    font-weight: bold;
  }

  .rendered-question-notes {
    color: $nearblack;
    font-size: 15px;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  .btn-link {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.rendered-question-full {
  .answer-form {
    margin-top: 20px;
  }
}

.rendered-question-answers {
  margin-top: 20px;

  .answer-author {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $nearblack;
    font-size: 15px;
    font-weight: bold;
  }

  .rendered-answer-notes {
    color: $nearblack;
    font-size: 15px;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  .small-answer-info {
    color: $lightgray;
  }

  .answer-number {
    margin-top: 40px;
    margin-bottom: -10px;
  }
}

// Collapse navbar a little sooner than Bootstrap default
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none;
  }
}
