@import "bootstrap";

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$red: #b92b27;

.navbar-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 2px solid $red;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200, 200 ,200, 0.2);
}

.navbar-default .navbar-brand {
  color: $red;
  font-weight: 400;
}
