<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Q&amp;A
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
